<form (ngSubmit)="incluir()">
  <label>Título:</label>
  <input [(ngModel)]="livro.titulo" name="titulo" required /><br />

  <label>Resumo:</label>
  <textarea [(ngModel)]="livro.resumo" name="resumo" required></textarea><br />

  <label>Autores (separados por vírgula):</label>
  <input [(ngModel)]="autoresTexto" name="autores" required /><br />

  <label>Editora:</label>
  <input type="number" [(ngModel)]="livro.codEditora" name="editora" required /><br />

  <button type="submit">Salvar</button>
</form>

